<footer class="footer h-16 flex items-center px-6 bg-white border-t border-gray-200 shadow">
   <div class="flex md:justify-between justify-center w-full gap-4">
      <div>
         <script>document.write(new Date().getFullYear())</script> © FlexAdmin
      </div>
      <div class="md:flex hidden gap-2 item-center md:justify-end">
         Design &amp; Develop by<a href="#" class="text-primary">MyraStudio</a>
      </div>
   </div>
</footer>
