<div id="app-menu" class="hs-overlay fixed inset-y-0 start-0 z-[60] hidden w-64 -translate-x-full transform overflow-y-auto border-e border-default-200 bg-white transition-all duration-300 hs-overlay-open:translate-x-0 lg:bottom-0 lg:end-auto lg:z-30 lg:block lg:translate-x-0 rtl:translate-x-full rtl:hs-overlay-open:translate-x-0 rtl:lg:translate-x-0 print:hidden [--overlay-backdrop:true] lg:[--overlay-backdrop:false]">
	<div class="sticky top-0 flex h-16 items-center justify-center px-6">
		<a href="index.html">
			<img src="/images/logo-dark.png" alt="logo" class="flex h-6 dark:hidden" />
			<img src="/images/logo-light.png" alt="logo" class="hidden h-6 dark:flex" />
		</a>
	</div>
	<div class="hs-accordion-group h-[calc(100%-72px)] p-4 ps-0" data-simplebar>
		<ul class="admin-menu flex w-full flex-col gap-1.5">
			<li class="menu-item">
				<a href="/" class="group flex items-center gap-x-3.5 rounded-e-full px-4 py-2 text-sm font-medium text-default-700 transition-all hover:bg-default-100">
					<i class="material-symbols-rounded font-light text-2xl transition-all group-hover:fill-1">home</i>
					Dashboard
				</a>
			</li>
			<li class="px-5 py-2 text-sm font-medium text-default-600">Sales & Inventory</li>
			<li class="hs-accordion menu-item">
				<a href="javascript:void(0)" class="hs-accordion-toggle group flex items-center gap-x-3.5 rounded-e-full px-4 py-2 text-sm font-medium text-default-700 transition-all hover:bg-default-100 hs-accordion-active:bg-default-100">
					<i class="material-symbols-rounded font-light text-2xl transition-all group-hover:fill-1">inventory_2</i>
					<span class="menu-text">Manage Inventory</span>
					<span class="ti ti-chevron-right ms-auto text-sm transition-all hs-accordion-active:rotate-90"></span>
				</a>
				<div class="hs-accordion-content hidden w-full overflow-hidden transition-[height] duration-300">
					<ul class="mt-2 space-y-2">
						<li class="menu-item">
							<a href="/categories" class="flex items-center gap-x-3.5 rounded-e-full px-5 py-2 text-sm font-medium text-default-700 hover:bg-default-100">
								<i class="ti ti-circle-filled scale-[.25] text-lg"></i>
								Categories
							</a>
						</li>
						<li class="menu-item">
							<a href="#" class="flex items-center gap-x-3.5 rounded-e-full px-5 py-2 text-sm font-medium text-default-700 hover:bg-default-100">
								<i class="ti ti-circle-filled scale-[.25] text-lg"></i>
								Units
							</a>
						</li>
						<li class="menu-item">
							<a href="#" class="flex items-center gap-x-3.5 rounded-e-full px-5 py-2 text-sm font-medium text-default-700 hover:bg-default-100">
								<i class="ti ti-circle-filled scale-[.25] text-lg"></i>
								Taxes
							</a>
						</li>
						<li class="menu-item">
							<a href="#" class="flex items-center gap-x-3.5 rounded-e-full px-5 py-2 text-sm font-medium text-default-700 hover:bg-default-100">
								<i class="ti ti-circle-filled scale-[.25] text-lg"></i>
								Products
							</a>
						</li>
					</ul>
				</div>
			</li>
			<li class="hs-accordion menu-item">
				<a href="javascript:void(0)" class="hs-accordion-toggle group flex items-center gap-x-3.5 rounded-e-full px-4 py-2 text-sm font-medium text-default-700 transition-all hover:bg-default-100 hs-accordion-active:bg-default-100">
					<i class="material-symbols-rounded font-light text-2xl transition-all group-hover:fill-1">payments</i>
					<span class="menu-text">Manage Sales</span>
					<span class="ti ti-chevron-right ms-auto text-sm transition-all hs-accordion-active:rotate-90"></span>
				</a>
				<div class="hs-accordion-content hidden w-full overflow-hidden transition-[height] duration-300">
					<ul class="mt-2 space-y-2">
						<li class="menu-item">
							<a href="#" class="flex items-center gap-x-3.5 rounded-e-full px-5 py-2 text-sm font-medium text-default-700 hover:bg-default-100">
								<i class="ti ti-circle-filled scale-[.25] text-lg"></i>
								Create Invoice
							</a>
						</li>
						<li class="menu-item">
							<a href="#" class="flex items-center gap-x-3.5 rounded-e-full px-5 py-2 text-sm font-medium text-default-700 hover:bg-default-100">
								<i class="ti ti-circle-filled scale-[.25] text-lg"></i>
								Sell Invoice
							</a>
						</li>
					</ul>
				</div>
			</li>
			<li class="hs-accordion menu-item">
				<a href="javascript:void(0)" class="hs-accordion-toggle group flex items-center gap-x-3.5 rounded-e-full px-4 py-2 text-sm font-medium text-default-700 transition-all hover:bg-default-100 hs-accordion-active:bg-default-100">
					<i class="material-symbols-rounded font-light text-2xl transition-all group-hover:fill-1">garage_home</i>
					<span class="menu-text">Manage Stock</span>
					<span class="ti ti-chevron-right ms-auto text-sm transition-all hs-accordion-active:rotate-90"></span>
				</a>
				<div class="hs-accordion-content hidden w-full overflow-hidden transition-[height] duration-300">
					<ul class="mt-2 space-y-2">
						<li class="menu-item">
							<a href="#" class="flex items-center gap-x-3.5 rounded-e-full px-5 py-2 text-sm font-medium text-default-700 hover:bg-default-100">
								<i class="ti ti-circle-filled scale-[.25] text-lg"></i>
								Create Purchase
							</a>
						</li>
						<li class="menu-item">
							<a href="#" class="flex items-center gap-x-3.5 rounded-e-full px-5 py-2 text-sm font-medium text-default-700 hover:bg-default-100">
								<i class="ti ti-circle-filled scale-[.25] text-lg"></i>
								Manage Purchase
							</a>
						</li>
						<li class="menu-item">
							<a href="#" class="flex items-center gap-x-3.5 rounded-e-full px-5 py-2 text-sm font-medium text-default-700 hover:bg-default-100">
								<i class="ti ti-circle-filled scale-[.25] text-lg"></i>
								Create Requisition
							</a>
						</li>
						<li class="menu-item">
							<a href="#" class="flex items-center gap-x-3.5 rounded-e-full px-5 py-2 text-sm font-medium text-default-700 hover:bg-default-100">
								<i class="ti ti-circle-filled scale-[.25] text-lg"></i>
								Manage Requisition
							</a>
						</li>
					</ul>
				</div>
			</li>
			<li class="hs-accordion menu-item">
				<a href="javascript:void(0)" class="hs-accordion-toggle group flex items-center gap-x-3.5 rounded-e-full px-4 py-2 text-sm font-medium text-default-700 transition-all hover:bg-default-100 hs-accordion-active:bg-default-100">
					<i class="material-symbols-rounded font-light text-2xl transition-all group-hover:fill-1">output</i>
					<span class="menu-text">Expense</span>
					<span class="ti ti-chevron-right ms-auto text-sm transition-all hs-accordion-active:rotate-90"></span>
				</a>
				<div class="hs-accordion-content hidden w-full overflow-hidden transition-[height] duration-300">
					<ul class="mt-2 space-y-2">
						<li class="menu-item">
							<a href="#" class="flex items-center gap-x-3.5 rounded-e-full px-5 py-2 text-sm font-medium text-default-700 hover:bg-default-100">
								<i class="ti ti-circle-filled scale-[.25] text-lg"></i>
								Expense Category
							</a>
						</li>
						<li class="menu-item">
							<a href="#" class="flex items-center gap-x-3.5 rounded-e-full px-5 py-2 text-sm font-medium text-default-700 hover:bg-default-100">
								<i class="ti ti-circle-filled scale-[.25] text-lg"></i>
								Create Expense
							</a>
						</li>
						<li class="menu-item">
							<a href="#" class="flex items-center gap-x-3.5 rounded-e-full px-5 py-2 text-sm font-medium text-default-700 hover:bg-default-100">
								<i class="ti ti-circle-filled scale-[.25] text-lg"></i>
								List Expense
							</a>
						</li>
					</ul>
				</div>
			</li>
			<li class="hs-accordion menu-item">
				<a href="javascript:void(0)" class="hs-accordion-toggle group flex items-center gap-x-3.5 rounded-e-full px-4 py-2 text-sm font-medium text-default-700 transition-all hover:bg-default-100 hs-accordion-active:bg-default-100">
					<i class="material-symbols-rounded font-light text-2xl transition-all group-hover:fill-1">account_balance</i>
					<span class="menu-text">Payment</span>
					<span class="ti ti-chevron-right ms-auto text-sm transition-all hs-accordion-active:rotate-90"></span>
				</a>
				<div class="hs-accordion-content hidden w-full overflow-hidden transition-[height] duration-300">
					<ul class="mt-2 space-y-2">
						<li class="menu-item">
							<a href="#" class="flex items-center gap-x-3.5 rounded-e-full px-5 py-2 text-sm font-medium text-default-700 hover:bg-default-100">
								<i class="ti ti-circle-filled scale-[.25] text-lg"></i>
								Payment Supplier
							</a>
						</li>
						<li class="menu-item">
							<a href="#" class="flex items-center gap-x-3.5 rounded-e-full px-5 py-2 text-sm font-medium text-default-700 hover:bg-default-100">
								<i class="ti ti-circle-filled scale-[.25] text-lg"></i>
								Payment Customer
							</a>
						</li>
					</ul>
				</div>
			</li>
			<li class="px-5 py-2 text-sm font-medium text-default-600">Human Resources</li>
			<li class="hs-accordion menu-item">
				<a href="javascript:void(0)" class="hs-accordion-toggle group flex items-center gap-x-3.5 rounded-e-full px-4 py-2 text-sm font-medium text-default-700 transition-all hover:bg-default-100 hs-accordion-active:bg-default-100">
					<i class="material-symbols-rounded font-light text-2xl transition-all group-hover:fill-1">group</i>
					<span class="menu-text">Manage Employees</span>
					<span class="ti ti-chevron-right ms-auto text-sm transition-all hs-accordion-active:rotate-90"></span>
				</a>
				<div class="hs-accordion-content hidden w-full overflow-hidden transition-[height] duration-300">
					<ul class="mt-2 space-y-2">
						<li class="menu-item">
							<a href="#" class="flex items-center gap-x-3.5 rounded-e-full px-5 py-2 text-sm font-medium text-default-700 hover:bg-default-100">
								<i class="ti ti-circle-filled scale-[.25] text-lg"></i>
								Departement
							</a>
						</li>
						<li class="menu-item">
							<a href="#" class="flex items-center gap-x-3.5 rounded-e-full px-5 py-2 text-sm font-medium text-default-700 hover:bg-default-100">
								<i class="ti ti-circle-filled scale-[.25] text-lg"></i>
								Designations
							</a>
						</li>
						<li class="menu-item">
							<a href="#" class="flex items-center gap-x-3.5 rounded-e-full px-5 py-2 text-sm font-medium text-default-700 hover:bg-default-100">
								<i class="ti ti-circle-filled scale-[.25] text-lg"></i>
								Employees
							</a>
						</li>
					</ul>
				</div>
			</li>
			<li class="hs-accordion menu-item">
				<a href="javascript:void(0)" class="hs-accordion-toggle group flex items-center gap-x-3.5 rounded-e-full px-4 py-2 text-sm font-medium text-default-700 transition-all hover:bg-default-100 hs-accordion-active:bg-default-100">
					<i class="material-symbols-rounded font-light text-2xl transition-all group-hover:fill-1">branding_watermark</i>
					<span class="menu-text">Manage Branch</span>
					<span class="ti ti-chevron-right ms-auto text-sm transition-all hs-accordion-active:rotate-90"></span>
				</a>
				<div class="hs-accordion-content hidden w-full overflow-hidden transition-[height] duration-300">
					<ul class="mt-2 space-y-2">
						<li class="menu-item">
							<a href="#" class="flex items-center gap-x-3.5 rounded-e-full px-5 py-2 text-sm font-medium text-default-700 hover:bg-default-100">
								<i class="ti ti-circle-filled scale-[.25] text-lg"></i>
								Manage Sales Target
							</a>
						</li>
					</ul>
				</div>
			</li>
			<li class="hs-accordion menu-item">
				<a href="javascript:void(0)" class="hs-accordion-toggle group flex items-center gap-x-3.5 rounded-e-full px-4 py-2 text-sm font-medium text-default-700 transition-all hover:bg-default-100 hs-accordion-active:bg-default-100">
					<i class="material-symbols-rounded font-light text-2xl transition-all group-hover:fill-1">settings_account_box</i>
					<span class="menu-text">CRM</span>
					<span class="ti ti-chevron-right ms-auto text-sm transition-all hs-accordion-active:rotate-90"></span>
				</a>
				<div class="hs-accordion-content hidden w-full overflow-hidden transition-[height] duration-300">
					<ul class="mt-2 space-y-2">
						<li class="menu-item">
							<a href="#" class="flex items-center gap-x-3.5 rounded-e-full px-5 py-2 text-sm font-medium text-default-700 hover:bg-default-100">
								<i class="ti ti-circle-filled scale-[.25] text-lg"></i>
								Manage Customer
							</a>
						</li>
						<li class="menu-item">
							<a href="#" class="flex items-center gap-x-3.5 rounded-e-full px-5 py-2 text-sm font-medium text-default-700 hover:bg-default-100">
								<i class="ti ti-circle-filled scale-[.25] text-lg"></i>
								Manage Supplier
							</a>
						</li>
					</ul>
				</div>
			</li>
			<li class="px-5 py-2 text-sm font-medium text-default-600">Reports</li>
			<li class="hs-accordion menu-item">
				<a href="javascript:void(0)" class="hs-accordion-toggle group flex items-center gap-x-3.5 rounded-e-full px-4 py-2 text-sm font-medium text-default-700 transition-all hover:bg-default-100 hs-accordion-active:bg-default-100">
					<i class="material-symbols-rounded font-light text-2xl transition-all group-hover:fill-1">problem</i>
					<span class="menu-text">Sales Reports</span>
					<span class="ti ti-chevron-right ms-auto text-sm transition-all hs-accordion-active:rotate-90"></span>
				</a>
				<div class="hs-accordion-content hidden w-full overflow-hidden transition-[height] duration-300">
					<ul class="mt-2 space-y-2">
						<li class="menu-item">
							<a href="#" class="flex items-center gap-x-3.5 rounded-e-full px-5 py-2 text-sm font-medium text-default-700 hover:bg-default-100">
								<i class="ti ti-circle-filled scale-[.25] text-lg"></i>
								Sales Summary
							</a>
						</li>
						<li class="menu-item">
							<a href="#" class="flex items-center gap-x-3.5 rounded-e-full px-5 py-2 text-sm font-medium text-default-700 hover:bg-default-100">
								<i class="ti ti-circle-filled scale-[.25] text-lg"></i>
								Sales Statistics
							</a>
						</li>
						<li class="menu-item">
							<a href="#" class="flex items-center gap-x-3.5 rounded-e-full px-5 py-2 text-sm font-medium text-default-700 hover:bg-default-100">
								<i class="ti ti-circle-filled scale-[.25] text-lg"></i>
								Product Wise Sales
							</a>
						</li>
						<li class="menu-item">
							<a href="#" class="flex items-center gap-x-3.5 rounded-e-full px-5 py-2 text-sm font-medium text-default-700 hover:bg-default-100">
								<i class="ti ti-circle-filled scale-[.25] text-lg"></i>
								All Sales
							</a>
						</li>
					</ul>
				</div>
			</li>
			<li class="hs-accordion menu-item">
				<a href="javascript:void(0)" class="hs-accordion-toggle group flex items-center gap-x-3.5 rounded-e-full px-4 py-2 text-sm font-medium text-default-700 transition-all hover:bg-default-100 hs-accordion-active:bg-default-100">
					<i class="material-symbols-rounded font-light text-2xl transition-all group-hover:fill-1">list_alt</i>
					<span class="menu-text">Purchase Reports</span>
					<span class="ti ti-chevron-right ms-auto text-sm transition-all hs-accordion-active:rotate-90"></span>
				</a>
				<div class="hs-accordion-content hidden w-full overflow-hidden transition-[height] duration-300">
					<ul class="mt-2 space-y-2">
						<li class="menu-item">
							<a href="#" class="flex items-center gap-x-3.5 rounded-e-full px-5 py-2 text-sm font-medium text-default-700 hover:bg-default-100">
								<i class="ti ti-circle-filled scale-[.25] text-lg"></i>
								Purchase Summary
							</a>
						</li>
						<li class="menu-item">
							<a href="#" class="flex items-center gap-x-3.5 rounded-e-full px-5 py-2 text-sm font-medium text-default-700 hover:bg-default-100">
								<i class="ti ti-circle-filled scale-[.25] text-lg"></i>
								Purchase Statistics
							</a>
						</li>
						<li class="menu-item">
							<a href="#" class="flex items-center gap-x-3.5 rounded-e-full px-5 py-2 text-sm font-medium text-default-700 hover:bg-default-100">
								<i class="ti ti-circle-filled scale-[.25] text-lg"></i>
								Product Wise Purchase
							</a>
						</li>
						<li class="menu-item">
							<a href="#" class="flex items-center gap-x-3.5 rounded-e-full px-5 py-2 text-sm font-medium text-default-700 hover:bg-default-100">
								<i class="ti ti-circle-filled scale-[.25] text-lg"></i>
								All Purchase
							</a>
						</li>
					</ul>
				</div>
			</li>
			<li class="menu-item">
				<a href="#" class="group flex items-center gap-x-3.5 rounded-e-full px-4 py-2 text-sm font-medium text-default-700 transition-all hover:bg-default-100 hs-accordion-active:bg-default-100">
					<i class="material-symbols-rounded font-light text-2xl transition-all group-hover:fill-1">data_alert</i>
					<span class="menu-text">Stock Report</span>
				</a>
			</li>
			<li class="menu-item">
				<a href="#" class="group flex items-center gap-x-3.5 rounded-e-full px-4 py-2 text-sm font-medium text-default-700 transition-all hover:bg-default-100 hs-accordion-active:bg-default-100">
					<i class="material-symbols-rounded font-light text-2xl transition-all group-hover:fill-1">monitoring</i>
					<span class="menu-text">Profit/Loss Report</span>
				</a>
			</li>
			<li class="px-5 py-2 text-sm font-medium text-default-600">More</li>
			<li class="hs-accordion menu-item">
				<a href="javascript:void(0)" class="hs-accordion-toggle group flex items-center gap-x-3.5 rounded-e-full px-4 py-2 text-sm font-medium text-default-700 transition-all hover:bg-default-100 hs-accordion-active:bg-default-100">
					<i class="material-symbols-rounded font-light text-2xl transition-all group-hover:fill-1">settings</i>
					<span class="menu-text">Settings</span>
					<span class="ti ti-chevron-right ms-auto text-sm transition-all hs-accordion-active:rotate-90"></span>
				</a>
				<div class="hs-accordion-content hidden w-full overflow-hidden transition-[height] duration-300">
					<ul class="mt-2 space-y-2">
						<li class="menu-item">
							<a href="#" class="flex items-center gap-x-3.5 rounded-e-full px-5 py-2 text-sm font-medium text-default-700 hover:bg-default-100">
								<i class="ti ti-circle-filled scale-[.25] text-lg"></i>
								Accordion
							</a>
						</li>
					</ul>
				</div>
			</li>
		</ul>
	</div>
</div>
